<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">

    <h1>Welcome <%= username %> 🎉</h1>

    <p>
        Successfully Logged In
    </p>

    <a href="/logout">
        <button>Logout</button>
    </a>

</div>

</body>
</html>